@font-face {
	font-family:'GraublauSansDisplay-Bold';
	src:url('../fonts/GraublauSansDisplay-Bold.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSansDisplay-Regular';
	src:url('../fonts/GraublauSansDisplay-Regular.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSansItalic';
	src:url('../fonts/GraublauSansItalic.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSans-Regular';
	src:url('../fonts/GraublauSans-Regular.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSlab-Bold';
	src:url('../fonts/GraublauSlab-Bold.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSlab-HeavyItalic';
	src:url('../fonts/GraublauSlab-HeavyItalic.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSlab-Heavy';
	src:url('../fonts/GraublauSlab-Heavy.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
//Variables


$orange:#FF8A35;
$purple:#043BFF;
$blue:#043BFF;
$tour1color:#8103FF;
$tour2color:#2BC6C6;
$tour3color:#000000;
$tour4color:#61D05F;
$tour5color:#FFA95A;
$green:#00CC39;
$red:#E8244C;

@media(max-width: 1500px){
	.test{
		&-main{
			&-body{
				
				width: calc(100% - 135px);
				margin-left: -165px;
				
				&-images{
					width:330px;
					min-width: 330px;
					height:100%;
					&-unit{
						height:330px;
					}
					&-wrap{
						.slick-dots{
							padding-top: 15px;
						}
					}
					&-body{
						margin-bottom: 50px;
					}
				}
				
				&-footer{
					    margin-left: 166px;
				}
				&-text{
					font-size: 30px;
					line-height: 30px;
					max-width: 850px;
					margin-bottom: 50px;
				}
				&-unit{
					padding-bottom: 0;
				}
			}
			&-unit{
				&_noImage{
					.test-main-body-text{
						margin-left: 80px;
					}
				}
			}
		}
	}
}
@media(max-width: 1500px) and ( max-height:700px ){
	.test{
		&-main{
			&-body{
				
				width: calc(100% - 175px);
				margin-left: -125px;
				
				&-images{
					width:250px;
					min-width: 250px;
					height:100%;
					&-unit{
						height:250px;
					}
					&-wrap{
						.slick-dots{
							padding-top: 15px;
						}
					}
					&-body{
						margin-bottom: 50px;
					}
				}
				
				&-footer{
					    margin-left: 126px;
				}
			}
		}
	}
}
@media(max-width:1279px){
	.container{
		width:768px;

	}
	.header{
		&-wrap{
			padding: 32px 33px 0 40px;
		}
		&-logo{
			&_01{
				margin-right: 22px;
				margin-top: 3px;
			}
		}
		&-title{
			margin-left: 59px;
			line-height: 23px;
			text-align: center;
			width:160px;
		}
	}
	.filler{
		&-01{
			top:93px;
			width:69.5px;
		}
		&-02{
			width:183px;
			top: 120px;
   			right: 18px;
		}
		&-03{
			left: 39px;
    		top: 120px;
			width:163px;
		}
		&-04{
			top: calc(100% - 28px);
    		left: 15px;
			width:252px;
		}
		&-05{
			right: 125px;
    		bottom: -53px;
			width:128px;
		}
		&-08{
			width:439px;
			top:62px;
		}
	}
	.main{
		&-title{
			    margin-bottom: 70px;
			padding-top: 165px;
			&-img{
				max-width: 487px;
			}
		}
		&-select{
		    margin-bottom: 56px;
		}
		&-info{
		    padding: 0px 84px;
		    &-unit{
		    	width:100%;
		    	&-title{
		    		margin-bottom: 25px;
		    	}
		    	&:nth-child(1){
					order:1;
				}
				&:nth-child(2){
					order:2;
				}
				&:nth-child(3){
					order:3;
				}
				&:nth-child(4){
					order:4;
				}
				&:nth-child(5){
					order:5;
				}
		    }
		}
		&-games{
			margin-bottom: 50px;
			&-wrap{
			    padding: 0 54px;
			}
			&-month{
				    margin-bottom: 30px;
			}
			&-unit{
				margin-right: 40px;
				&:nth-child(2n){
					margin-right: 0;
				}
				&:nth-child(3n){
					margin-right: 40px;
				}

			}
		}
	}
	.test{

		&-header{
			padding: 0px 40px;
   			padding-top: 32px;
		}
		&-filler{
			display: none;
		}
		&-body{

			display: block;
			width:450px;
			margin:0 auto;
			height:inherit;
			padding:0;
			padding-top: 36px;
			padding-bottom:105px;
			&-wrap{
				height:inherit;
			}
		}
		&-content{
			&-progress{
				

				margin-top: 73px;
				&-title{
					
				}
				&-wrap{
					
				}
			}
			&-unit{
				&_result{
					&_title{
						padding-right: 0;

					}
				}
			}
			&_final{
				margin-top: 0;
			}
		}
		&-info{
			padding-left: 6px;
			&-unit{

				font-size: 40px;
    			line-height: 40px;
			}
			&-text{
				    margin-top: 21px;
   				 margin-bottom: 33px;
			}
		}
		&-register{
			margin-left:0;
			.popup-form{
				margin-top: 50px;
			}
		}
		&-main{
			&-introUnit{
				&-image{
					max-width: 500px;
					img{
						max-width: 100%;
					}
				}
				&-container{
					padding-bottom: 60px;
					padding-top: 60px;
					flex-direction:column;

					width:768px;
				}
				&-info{
					margin-left: 0;
				}
			}
			&-body{
				margin-left: -221px;
				width: calc(100% - 79px);
				&-footer{
					margin-top: auto;
					margin-left: 221px;
					width:450px;
					height:222px;
					&-answers{

						display: flex;
						flex-wrap:wrap;
						justify-content:space-between;
						&-unit{
							margin:0;
							flex:inherit;
							width:224px;
							margin-bottom: 2px;

						}
					}
					&-results{
						height:224px;
						background-color: #fff;
						flex-direction:column;

						&-info{
							height:124px;
							display: flex;
							align-items:center;
							padding: 5px 15px 5px 15px;
							order:2;
							width: 100%;
							&-text{
								line-height: 20px;
							}
							&-title{
								display: none;
							}
						}
						
						&-button{
							order:1;
							width:100%;
							height:110px;
							line-height:110px;
						}
					}
				}

				&-images{
					height:auto;
					justify-content:flex-start;
					width:330px;
					min-width: 330px;
					&-unit{
						height:330px;
						
					}
					&-body{
						margin-left: 55px;
    					margin-top: 27px;
						margin-bottom: 15px;

					}
					&-controls{
						margin-top: 0;
						position: static;
						justify-content:flex-start;
					}
					
				}
				&-unit{
					display: flex;
					height:unset;
					min-height: calc(100vh - 124px);
					&-wrap{
					    min-height: calc(100vh - 346px);
						display: block;
					}
				}
				&-text{
					margin-top: 30px;
				    margin-left: 88px;
				    margin-bottom: 30px;
				}
			}
			&-unit{
				&-wrap{
					height: calc(100% - 197px);
				}
				&-header{
					&-info{
						display: block;
						&-image{
							float:left;
						}
						&-title{
							margin-left: 0;
						   	margin-top: 22px;
							float:left;
							padding-left: 20px;
							margin-bottom: 16px;
							width:calc(100% - 124px);
							&:after {
							  content: "";
							  display: table;
							  clear: both;
							}
						}
						&-counter{
							float:left;
							margin-left: 18px;
							.test{
								&-content{
									&-progress{
										&-wrap{
											margin-left: 17px;
										}
									}
								}
							}
						}
					}
				}
				&_noImage{
					.test-main-body{
						&-text{
							font-size: 36px;
							line-height: 40px;
						}
						&-unit{
							&-wrap{
							   display: flex;
							}
						}
					}
				}
			}
		}
		&-rating{
			&-container{
				width:100%;
				table{
					td{
						&:nth-child(1){
							    width: 260px;
						}
						&:nth-child(2){
							    width: 120px;
							    &:after{}
						}
					}
				}
			}
			&-logo{
				&-wrap{
					padding-top:30px;
					position: static;
					text-align: center;
				}
			}
			&-table{
				&-header{
				    margin-bottom: 10px;
					table{
						td{
							&:nth-child(2){
								 &:after{
								 	width:45px;
								 }
							}
						}
					}
				}
			}
			&-wrap{
				padding:0 10px;
				width:768px;
			}
		}
	}

}
@media(max-width: 767px){
	.container{
		width:100%;
		padding:0 20px;
	}
	.header{
		&-button{
			padding: 0 13px;
			height:34px;
			line-height: 34px;
			font-size: 12px;
		}
		&-wrap{
		    padding: 17px 20px 0 20px;
		}
		&-logo{
			img{
				max-width: 100%;
			}
			&_01{
				margin-right: 21px;
				width:57px;
			}
			&_02{
				width:39px;
			}
		}
		&-title{
			display: none;
		}
	}
	.main{
		&-title{
			margin-bottom: 31px;
			padding-top: 114px;
			&-img{
				width:200px;
			}

		}
		&-select{
			margin-bottom: 38px;
			width:220px;
		}
		&-info{
			padding:0;
			margin-left: -10px;
			width:calc(100% + 20px);
			&-unit{
				margin-bottom: 39px;
				&-title{
					margin-bottom: 15px;
					font-size: 24px;
					line-height: 28px;
				}
				&-text{
					margin-right: 10px;
				}
			}
		}
		&-games{
			margin-bottom: 34px;
			&-wrap{
				padding:0;
				justify-content:center;
			}
			&-unit{
				padding:10px 20px 30px 20px;
				margin-bottom: 57px;
				min-height:270px;
				height:auto;
				margin-right: 0!important;
				&-date{
					line-height: 140px;
					font-size: 150px;
				    margin-bottom: 34px;
				}

			}
			&-month{
				margin-bottom: 13px;
			}
		}
	}
	.select2{
		&-selection{
			font-size: 16px;
			    height: 40px !important;
    		line-height: 40px !important;
    		&__placeholder{
    			line-height: 40px;
    		}
    		&__rendered{
    			line-height: 40px !important;
    		}
		}
		&-results{
			&__option{
				font-size: 16px;
			}
		}
	}
	.filler{
		&-01{
			top:62px;
			width:32px;
		}
		&-02{
			width:80px;
			    top: 90px;
   			 right: -14px;
		}
		&-03{
			left: -1px;
			top: 75px;
			width:75px;
		}
		&-04{
			top: calc(100% - 16px);
    		left: -13px;
			width:116px;
		}
		&-05{
			right: 33px;
    		bottom: -31px;
			width:56.5px;
		}
		&-08{
			width:169px;
			top:56px;
		}
	}
	.popup{
		&-wrap{

			width:calc(100% - 20px);
			max-width: 520px;
		}
		&-form{
			padding:35px 20px;
			input{
				&[type="submit"]{
					margin-top: 10px;
					height:50px;
					line-height: 50px;
				}
			}
		}
		&-title{
			margin-bottom: 20px;
			padding:0 40px;
			font-size: 24px;
			line-height: 24px;
		}
		&-close{
			right:0;
			top:0px;
			width:30px;
			height:30px;
		}
		&_rules{
			.popup{
				&-title{
					margin-bottom: 20px;
				}
				&-text{
					margin-bottom: 20px;
				}
				&-wrap{
					max-width: 100%;
					padding:0 10px;
				}
			}
		}
		&_list{
			.popup-wrap{
				padding:50px 10px;
			}
			&-header{
				padding:0 10px;
				&-controls{
					&-join{
						margin:0 auto;
						width:100%;
						max-width: 300px;
						margin-top: 50px;

					}
				}
			}
			&-table{
				padding:0 10px;
				tr{
					td{
						line-height: 28px;
						font-size: 18px;
						&.popup-list-table-subtitle{
							    padding-top: 25px;
						}
					}
				}
			}
		}
	}
	.test{

		
		&-wrap{
			background-image: url(../images/test-bg-mobile.svg);
		}
		&-header{
			padding: 0px 0px;
    		padding-top: 16px;
    		.header-logo{
				img{
					max-width:100%;
				}
				&_01{
					width:50px;
				}
				&_02{
					width:48px;
				}
			}
		}
		&-body{
			width:100%;
			padding-bottom: 35px;
			padding-top: 38px;
		}
		&-info{
			width:100%;
			padding-left: 0;
			&-unit{
				font-size: 40px;
				line-height: 41px;
			}
			&-text{
				    margin-top: 8px;
    				margin-bottom: 17px;
			}
		}
		&-content{
			width:calc(100% + 20px);
			margin-left: -10px;

			&-progress{
				margin-top: 67px;
				flex-direction:column;
				align-items:flex-start;
				&-wrap{
					margin-left:0;
				}
				&-title{
					margin-bottom:10px;
				}
				&_final{
					margin-left: 12px;
					display: block;
					.test-content-progress-title{
						margin-bottom: 14px;
					}
					.test-content-progress-wrap{
						display: flex;
						width:200px;
						margin-left: 0;
					}
				}
				
			}
			&-unit{
				&-question{
					font-size: 20px!important;
					line-height: 29px!important;
					height:270px;	
				}
				&-bottom{
					&-answers{
						&-unit{
							font-size: 16px;
							height:60px;
							display: flex;
							align-items:center;
							justify-content:center;
							line-height: 19px;
							width:calc(50% - 1px);
						}
					}
					&-results{
						
						&-text{
							font-size:14px;
							height:64px;
							line-height:14px;	
						}
						&-button{
							height:60px;
							line-height: 60px;
						}
					}

				}
				&_result{
					//padding:0 10px;
					&-title{
						    margin-top: 31px;
						    padding-right: 0;
						    margin-bottom: 37px;
					}
					&-timer{
						&-title{
							max-width: 200px;
							font-size:24px;
							line-height: 28px;
							margin-bottom: 17px;
						}
						&-unit{
							&-title{

								font-size: 14px;
								margin-bottom: 5px;
							}
							&-number{
								    font-size: 79px;
    								line-height: 49px;
							}
							&_divider{
								font-size: 80px;
								line-height: 99px;
							}
						}
					}
				}
			}
			&_final{
				margin-top: 0;
			}
			
		}
		&-register{
			width:calc(100% + 20px);
			margin-left: -10px;

		}
		&-main{
			&-introUnit{
				&-container{
					position: relative;
					padding-top: 43px;
					padding-bottom: 60px;
					max-width: 100%;
					display: flex;
					justify-content:center;
				}
				&-image{
					    margin-bottom: 11px;
					max-width: 250px;
				}
				&-info{
					position: relative;
					display: flex;
					flex-direction:column;
					align-items:center;
					padding:0 20px;
					max-width: 100%;
					
				}
				&-navigation{
					    margin-bottom: 11px;
				}
				&-title{
					font-size: 30px;
					line-height: 31px;
					text-align: left;
					align-self:flex-start;
				}
				&-text{
					align-self:flex-start;
				}
				&-button{
					left:50%;
					transform:translateX(-50%);
					top: 147px;
					position: absolute;
				}
			}
			&-unit{
				&-header{
					height:54px;
					.header{
						&-logo{
							&_01{
							    margin-right: 15px;
								width:50px;
							}
							&_02{
								width:48px;
							}
						}
					}
					&-logo{
						&-wrap{
							width:123px;
							padding-left: 10px;
						}
					}
					&-info{
						display: flex;
						align-items:center;
						padding-left: 10px;
   						padding-right: 5px;
						width:197px;
						&-image{
							display: none;
						}
						&-title{
							display: none;
						}
						&-counter{
							float:none;
							align-items:center;
							display: flex;
							.test{
								&-content{
									&-progress{
										align-items:center;
										flex-direction:row;
										&-wrap{
											padding: 0 3px;
											height:20px;
										}
										&-unit{
											width:13px;
											height:13px;
											&:before{
												background-size: cover;
											}
											&:after{
												background-size: cover;
											}
										}
										&-title{
											margin-bottom: 0;
										}
									}
								}
							}
						}
					}
					&-wrap{
						justify-content:space-between;
					}
				}
				&_noImage{
					.test-main-body-text{
						margin-left: 	20px;
						font-size: 22px;
    					line-height: 26px;
    					margin:20px;
					}
				}
			}
			&-sidebar{
				display: none;
			}
			&-segment{
				&_01{
					.test-main-unit-header{
						background-color: $tour1color;
					}
				}
				&_02{
					.test-main-unit-header{
						background-color: $tour2color;
					}
				}
				&_03{
					.test-main-unit-header{
						background-color: $tour3color;
					}
				}
				&_04{
					.test-main-unit-header{
						background-color: $tour4color;
					}
				}
				&_05{
					.test-main-unit-header{
						background-color: $tour5color;
					}
				}
				&.slick-current{
					.test-main-introUnit-button{
						transform:translateX(-50%);
					}
				}

			}
			&-body{
				margin-left: 0;
				width: 100%;
				&-images{
					width:240px;
					min-width: 240px;
				    margin: 0 auto;
					&-body{
						margin-left:0px;
    					margin-top: 25px;
    					margin-bottom: 5px;
					}
					&-unit{
						height:240px;
						
						//margin:20px;
						
						img{
							max-height: calc(100% + 20px);
    						max-width: calc(100% + 20px);
						}
					}
					&-controls{
						display: none;
						&-unit{
							width:calc(50% - 1px);
							height:20px;
							line-height: 20px;
						}
					}
					&-wrap{
						.slick-dots{
							list-style-type:none;
							padding-top: 5px;
							height:15px;
						}
					}

				}
				&-text{
					font-family:'GraublauSansDisplay-Regular';
					font-size: 18px;
					line-height: 20px;
					margin:0 20px;
					padding:0;
					margin-top: 5px;
					margin-bottom: 17px;
					min-height: calc(100vh - 496px);
					display:flex;
					align-items:center;
				}
				&-footer{
					
					margin-left: 0;
					width:100%;
					padding:0 10px;
					height:122px;
					margin-bottom: 12px;

					&-answers{
						&-unit{
							width:calc(50% - 1px);
							height:60px;
							font-size: 16px;
							line-height: 18px;
							padding:0 10px;
						}
					}
					&-results{
						height:124px;
						&-button{
							padding:0 10px;
							font-size: 16px;
							justify-content:flex-start;
							height:60px;
							position: relative;
							line-height: 60px;
							span{
								&:before{
									display:none;
								}
							}
							&:before{
								top:50%;
								transform:translateY(-50%);
								content:"";
								width:26px;
								height:26px;
								right:10px;
								position: absolute;
								background-image: url(../images/icon-next_alt.svg);

							}
						}
						&-info{
							height:64px;
							padding:5px 10px;
							&-text{
								font-size: 12px;
								line-height: 13px;
								&-inner{
									padding-right: 30px;
									padding-left: 0;
									&:before{
										left:inherit;
										right:0px;
									}
								}
							}
						}
					}
				}
				&-unit{

				    min-height: calc(100vh - 54px);
				   &-wrap{
				   	min-height: calc(100vh - 190px);
				   }
				}
				
			}
		}
		&-rating{
			padding-bottom: 40px;
			&-logo{
				&-wrap{
					padding-top: 10px;
					.header{
						&-logo{
							&_01{
							    margin-right: 15px;
								width:50px;
							}
							&_02{
								width:48px;
							}
						}
					}
				}
			}
			&-header{
				margin-bottom: 25px;
				padding-top: 13px;
				width:250px;
			}
			&-title{
				max-width: 150px;
				    margin-bottom: 23px;
			}
			&-wrap{
				padding:0;
				width:100%;
			}
			&-container{
				table{
					font-size: 18px;
					line-height: 20px;
					width:100%;
					td{
					    height: inherit;
					    min-height: 28px;
						&:nth-child(1){
							padding-left: 10px;
							width:calc(100vw - 160px);
						}

						&:nth-child(n+2):nth-child(-n+7){
							display: none;
						}
						&:nth-child(8){
								width:90px;
							}
						&:nth-child(9){
							width:70px;
							img{
								margin-top: 2px;
							}
						}
					}
				}
			}
			&-table{

				&-header{
				    margin-bottom: 15px;
					padding: 0px;
					table{
						td{
							&:nth-child(1){
								padding-left: 20px;
							}
							&:nth-child(9){
								padding-right: 16px;
							}
							

						}
					}
				}
				&-player{
					padding:0;
					    margin-bottom: 14px;
					table{
						td{
							height:72px;
						}
					}
				}
				&-wrap{
					padding: 9px 0px 11px 0px;
				}
				&-numeration{
					margin-bottom: 8px;
					padding-right: 8px;
				}
			}
			&-best{
				padding:0 10px;
				margin-top: 30px;
				&-unit{
					width:100%;
					margin-right: 0;
					margin-bottom: 10px;
					&-body{
					    padding: 18px 27px 25px 27px;
						&-unit{
							    margin-bottom:7px;
							font-size: 18px;
							line-height: 22px;
						}
					}
				}
			}
		}
	}
}
@media(max-width:375px){
	.test{
		&-content{

			&-unit{
				margin-bottom: 10px;
				&-question{
					font-size: 18px!important;
					line-height: 26px!important;
				}
			}
		}
	}
}
@media(max-width:350px){
	.test{
		&-main{
			&-body{
				&-unit{
					display: block;
				}
			}
		}
	}
}