@media (max-width: 1279px) {
  .container {
    width: 768px; }
  .header-wrap {
    padding: 32px 33px 0 40px; }
  .header-logo_01 {
    margin-right: 22px;
    margin-top: 3px; }
  .header-title {
    margin-left: 59px;
    line-height: 23px;
    text-align: center;
    width: 160px; }
  .filler-01 {
    top: 93px;
    width: 69.5px; }
  .filler-02 {
    width: 183px;
    top: 120px;
    right: 18px; }
  .filler-03 {
    left: 39px;
    top: 120px;
    width: 163px; }
  .filler-04 {
    top: calc(100% - 28px);
    left: 15px;
    width: 252px; }
  .filler-05 {
    right: 125px;
    bottom: -53px;
    width: 128px; }
  .filler-08 {
    width: 439px;
    top: 62px; }
  .main-title {
    margin-bottom: 70px;
    padding-top: 165px; }
    .main-title-img {
      max-width: 487px; }
  .main-select {
    margin-bottom: 56px; }
  .main-info {
    padding: 0px 84px; }
    .main-info-unit {
      width: 100%; }
      .main-info-unit-title {
        margin-bottom: 25px; }
      .main-info-unit:nth-child(1) {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      .main-info-unit:nth-child(2) {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      .main-info-unit:nth-child(3) {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3; }
      .main-info-unit:nth-child(4) {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4; }
      .main-info-unit:nth-child(5) {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5; }
  .main-games {
    margin-bottom: 50px; }
    .main-games-wrap {
      padding: 0 54px; }
    .main-games-month {
      margin-bottom: 30px; }
    .main-games-unit {
      margin-right: 40px; }
      .main-games-unit:nth-child(2n) {
        margin-right: 0; }
  .test-header {
    padding: 0px 40px;
    padding-top: 32px; }
  .test-filler {
    display: none; }
  .test-body {
    display: block;
    width: 450px;
    margin: 0 auto;
    height: inherit;
    padding: 0;
    padding-top: 36px;
    padding-bottom: 105px; }
    .test-body-wrap {
      height: inherit; }
  .test-content-progress {
    margin-top: 73px; }
  .test-content-unit_result_title {
    padding-right: 0; }
  .test-content_final {
    margin-top: 0; }
  .test-info {
    padding-left: 6px; }
    .test-info-unit {
      font-size: 40px;
      line-height: 40px; }
    .test-info-text {
      margin-top: 21px;
      margin-bottom: 33px; }
  .test-register {
    margin-left: 0; }
    .test-register .popup-form {
      margin-top: 50px; }
  .test-main-introUnit-image {
    max-width: 500px; }
    .test-main-introUnit-image img {
      max-width: 100%; }
  .test-main-introUnit-container {
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 768px; }
  .test-main-introUnit-info {
    margin-left: 0; } }

@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 0 20px; }
  .header-button {
    padding: 0 13px;
    height: 34px;
    line-height: 34px;
    font-size: 12px; }
  .header-wrap {
    padding: 17px 20px 0 20px; }
  .header-logo img {
    max-width: 100%; }
  .header-logo_01 {
    margin-right: 21px;
    width: 57px; }
  .header-logo_02 {
    width: 39px; }
  .header-title {
    display: none; }
  .main-title {
    margin-bottom: 31px;
    padding-top: 114px; }
    .main-title-img {
      width: 200px; }
  .main-select {
    margin-bottom: 38px;
    width: 220px; }
  .main-info {
    padding: 0;
    margin-left: -10px;
    width: calc(100% + 20px); }
    .main-info-unit {
      margin-bottom: 39px; }
      .main-info-unit-title {
        margin-bottom: 15px;
        font-size: 24px;
        line-height: 28px; }
      .main-info-unit-text {
        margin-right: 10px; }
  .main-games {
    margin-bottom: 34px; }
    .main-games-wrap {
      padding: 0;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .main-games-unit {
      margin-bottom: 57px;
      height: 270px;
      margin-right: 0; }
      .main-games-unit-date {
        line-height: 140px;
        font-size: 150px;
        margin-bottom: 34px; }
    .main-games-month {
      margin-bottom: 13px; }
  .select2-selection {
    font-size: 16px;
    height: 40px !important;
    line-height: 40px !important; }
    .select2-selection__placeholder {
      line-height: 40px; }
    .select2-selection__rendered {
      line-height: 40px !important; }
  .select2-results__option {
    font-size: 16px; }
  .filler-01 {
    top: 62px;
    width: 32px; }
  .filler-02 {
    width: 80px;
    top: 90px;
    right: -14px; }
  .filler-03 {
    left: -1px;
    top: 75px;
    width: 75px; }
  .filler-04 {
    top: calc(100% - 16px);
    left: -13px;
    width: 116px; }
  .filler-05 {
    right: 33px;
    bottom: -31px;
    width: 56.5px; }
  .filler-08 {
    width: 169px;
    top: 56px; }
  .popup-wrap {
    width: calc(100% - 20px);
    max-width: 520px; }
  .popup-form {
    padding: 35px 20px; }
    .popup-form input[type="submit"] {
      margin-top: 10px;
      height: 50px;
      line-height: 50px; }
  .popup-title {
    margin-bottom: 20px;
    padding: 0 40px;
    font-size: 24px;
    line-height: 24px; }
  .popup-close {
    right: 0;
    top: 0px;
    width: 30px;
    height: 30px; }
  .popup_rules .popup-title {
    margin-bottom: 20px; }
  .popup_rules .popup-text {
    margin-bottom: 20px; }
  .popup_rules .popup-wrap {
    max-width: 100%;
    padding: 0 10px; }
  .test-wrap {
    background-image: url(../images/test-bg-mobile.svg); }
  .test-header {
    padding: 0px 0px;
    padding-top: 16px; }
    .test-header .header-logo img {
      max-width: 100%; }
    .test-header .header-logo_01 {
      width: 50px; }
    .test-header .header-logo_02 {
      width: 48px; }
  .test-body {
    width: 100%;
    padding-bottom: 35px;
    padding-top: 38px; }
  .test-info {
    width: 100%;
    padding-left: 0; }
    .test-info-unit {
      font-size: 40px;
      line-height: 41px; }
    .test-info-text {
      margin-top: 8px;
      margin-bottom: 17px; }
  .test-content {
    width: calc(100% + 20px);
    margin-left: -10px; }
    .test-content-progress {
      margin-top: 67px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .test-content-progress-wrap {
        margin-left: 0; }
      .test-content-progress-title {
        margin-bottom: 10px; }
      .test-content-progress_final {
        margin-left: 12px;
        display: block; }
        .test-content-progress_final .test-content-progress-title {
          margin-bottom: 14px; }
        .test-content-progress_final .test-content-progress-wrap {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 200px;
          margin-left: 0; }
    .test-content-unit-question {
      font-size: 20px !important;
      line-height: 29px !important;
      height: 270px; }
    .test-content-unit-bottom-answers-unit {
      font-size: 16px;
      height: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      line-height: 19px;
      width: calc(50% - 1px); }
    .test-content-unit-bottom-results-text {
      font-size: 14px;
      height: 64px;
      line-height: 14px; }
    .test-content-unit-bottom-results-button {
      height: 60px;
      line-height: 60px; }
    .test-content-unit_result-title {
      margin-top: 31px;
      padding-right: 0;
      margin-bottom: 37px; }
    .test-content-unit_result-timer-title {
      max-width: 200px;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 17px; }
    .test-content-unit_result-timer-unit-title {
      font-size: 14px;
      margin-bottom: 5px; }
    .test-content-unit_result-timer-unit-number {
      font-size: 79px;
      line-height: 49px; }
    .test-content-unit_result-timer-unit_divider {
      font-size: 80px;
      line-height: 99px; }
    .test-content_final {
      margin-top: 0; }
  .test-register {
    width: calc(100% + 20px);
    margin-left: -10px; }
  .test-main-introUnit-container {
    position: relative;
    padding-top: 43px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .test-main-introUnit-image {
    margin-bottom: 11px;
    max-width: 250px; }
  .test-main-introUnit-info {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    max-width: 100%;
    padding-bottom: 60px; }
  .test-main-introUnit-navigation {
    margin-bottom: 11px; }
  .test-main-introUnit-title {
    font-size: 30px;
    line-height: 31px;
    text-align: left;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .test-main-introUnit-button {
    top: 147px;
    position: absolute; } }

@media (max-width: 375px) {
  .test-content-unit-question {
    font-size: 18px !important;
    line-height: 26px !important; } }
