@import "reset";

/*	-------------------------------------------------
	Custom fonts
	------------------------------------------------- */
@font-face {
	font-family:'GraublauSansDisplay-Bold';
	src:url('../fonts/GraublauSansDisplay-Bold.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSansDisplay-Regular';
	src:url('../fonts/GraublauSansDisplay-Regular.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSansItalic';
	src:url('../fonts/GraublauSansItalic.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSans-Regular';
	src:url('../fonts/GraublauSans-Regular.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSlab-Bold';
	src:url('../fonts/GraublauSlab-Bold.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSlab-HeavyItalic';
	src:url('../fonts/GraublauSlab-HeavyItalic.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'GraublauSlab-Heavy';
	src:url('../fonts/GraublauSlab-Heavy.otf') format("opentype");;
	font-weight:normal;
	font-style:normal;
}
//Variables


$orange:#FF8A35;
$purple:#043BFF;
$blue:#043BFF;
$tour1color:#8103FF;
$tour2color:#2BC6C6;
$tour3color:#000000;
$tour4color:#61D05F;
$tour5color:#FFA95A;
$green:#00CC39;
$red:#E8244C;
//Mixins
@mixin transform ($style: translate(0,-50%)){
	-webkit-transform: $style;
	transform: $style;
}

@mixin transition($time) {
    -moz-transition: all ease-in-out $time;
    -o-transition: all ease-in-out $time;
    -webkit-transition: all ease-in-out $time;
    transition: all ease-in-out $time;
}

@mixin iconfont ($content) {
	content:$content;
	//font-family: '' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}


/*	-------------------------------------------------
	Basic styles
	------------------------------------------------- */
html {
	height:100%;
	min-width:320px;
}
body {
	overflow:hidden;
	font:normal normal 18px/25px 'GraublauSans-Regular', Freesans, sans-serif;
	color:#fff;
	-webkit-text-size-adjust:100%;
	-webkit-font-smoothing:antialiased;
	min-height:100%;
}

a {
	color:inherit;
	text-decoration:none;
	&:hover {
		text-decoration:none;
	}
	&.ajax-link {
		text-decoration:none;

	}
}

p {  }

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

input[type=text], input[type=password] {
}
textarea {
}
input[type=submit], input[type=button] {
}

* {box-sizing: border-box}
* {
	min-height: 0;
	min-width: 0;
}


/*	-------------------------------------------------
	Print styles
	------------------------------------------------- */
@media print {

}



/*	-------------------------------------------------
	Styles
	------------------------------------------------- */


.container{
	width:1280px;
	margin:0 auto;
	position: relative;

}
.header{
	&-wrap{
		z-index: 1;
		position: absolute;
		top:0;
		left:0;
		width:100%;
		display: flex;
		align-items:flex-start;
		justify-content:space-between;
		padding: 32px 60px 0 30px;
	}
	&-logo{
		display: inline-block;
		&-wrap{
			display: flex;
		}
		&_01{
			margin-right: 32px;
			margin-top: 0px;
		}
		&_02{

		}
	}
	&-title{
		font-size: 20px;
		line-height: 33px;
		margin-top: 12px;
		margin-left: 38px;
	}
	&-button{
		font-size: 20px;
		text-align: center;
		height:60px;
		line-height: 60px;
		padding:0 25px;
		margin-top:5px;
	}
}

.button{
	cursor: pointer;
	text-align: center;
	border-radius: 50px;
	font-size: 20px;
	&_orange{
		background-color: $orange;
		box-shadow: 0px 10px 15px rgba(255, 208, 153, 0.2);
	}
	&_disabled{
		pointer-events:none;
	    box-shadow: none;
	    background-color: #F5F5F5!important;
	    color: #929090!important;
	}
}
.select2{

	&-container{
		&--open{
			.select2-selection__arrow{
				transform:rotate(180deg);
			}
		}
	}
	&-selection{
		height:50px!important;
		line-height: 50px!important;
		position: relative;
		font-size: 20px;
		text-align: center;
		background-color: transparent!important;
		border:none!important;
		&__rendered{
			line-height: 50px!important;
			height:100%!important;
			color:#fff!important;
			padding:0!important;
		}
		&__arrow{
			//@include transition(.3s);
			width:35px!important;
			position: absolute;
			top:0;
			right:0;
			height:100%!important;
			b{
				display: none;
			}
			background-image: url(../images/icon-dropdown-arrow.svg);
			background-position: center center;
			background-repeat: no-repeat;
		}
		&__placeholder{
			color:#fff!important;
			height:100%;
			line-height: 50px;
		}
	}
	&-results{
		&__option{
			padding:0;
			font-size: 20px;
			color:$purple;
			height:50px;
			text-align: center;
			line-height: 50px;
			&[aria-selected=true]{
				background-color: #fff!important;
				&.select2-results__option--highlighted{
					background-color: $purple!important;
					color:#fff!important;
				}
			}
			&--highlighted{
				background-color: $purple!important;
				color:#fff!important;
			}
		}
	}
	&-dropdown{
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
		border:none;
		border-radius:0!important;
	}
}
.game-with-adress{
	line-height: 15px;
	font-size: 16px;
}
.main{
	background: url(../images/main-bg.svg);

	background-repeat: no-repeat;
	background-size: cover;
	&-title{
		position: relative;
		padding-top: 186px;
		text-align: center;
		margin-bottom: 30px;
		&-img{
			position:relative;
			z-index:1;
		}
	}
	&-select{
		//@include transition(.3s);
		border-bottom:1px solid #fff;
		width:300px;
		margin:0 auto;
		margin-bottom: 68px;
		.select2-selection__placeholder{
			//@include transition(.3s);
		}

		.select2-container{
			width:100%!important;
		}
		&_error{
			border-bottom:1px solid #E8244C;
			.select2-selection__placeholder{
				color:#E8244C!important;
			}
			.select2-selection__arrow{
		    background-image: url(../images/icon-dropdown-arrow_red.svg);
		}
		}
	}
	&-games{
		margin-bottom: 37px;
		&-wrap{
			padding:0 108px;
			display: flex;
			flex-wrap:wrap;
		}
		&-month{
			font-family:'GraublauSlab-Bold';
			font-size: 24px;
			line-height: 24px;
			text-align: center;
			margin-bottom: 28px;
		}
		&-unit{
			position: relative;
			margin-bottom: 67px;
			padding:0 20px;
			background-color: #fff;
			width:310px;
			height:310px;
			border-radius: 10px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
			margin-right: 67px;
			&:nth-child(3n){
				margin-right: 0;
			}
			&-date{
				font-family:'GraublauSlab-HeavyItalic';
				text-align: center;
				color:$blue;
				margin-top:20px;
				font-size: 180px;
				line-height: 167px;
				margin-bottom: 17px;

			}
			&-info{

				color:#2B2A29;
				&-unit{
					padding-left: 25px;
					line-height: 26px;
					font-size: 20px;
					position: relative;
					&_place{
						&:before{
							position: absolute;
							left:3px;
							top:2px;
							content:url(../images/icon-location.svg);
						}
					}
					&_time{
						&:before{
							position: absolute;
							left:3px;
							top:1px;
							content:url(../images/icon-time.svg);
						}
					}
				}
			}
			&-button{
				@include transition(.3s);
				line-height: 54px;
				width:181px;
				height:54px;
				position: absolute;
				bottom:0;
				left:50%;
				transform:translateY(50%) translateX(-50%);
			}
			&_disabled{
				.main-games-unit-button{
					//pointer-events:none;
					box-shadow:none;
					background-color: #F5F5F5;
					color:#929090;
				}
			}
		}
	}
	&-info{
		padding:0 118px;
		display: flex;
		flex-wrap:wrap;
		justify-content:space-between;
		&-column{

		}
		&-unit{
			width:453px;
			margin-bottom: 76px;
			&-title{
				font-family:'GraublauSlab-Bold';
				font-size: 30px;
				line-height: 30px;
				margin-bottom: 27px;
			}
			&-text{
				opacity: .9;

			}
			&:nth-child(1){
				order:1;
			}
			&:nth-child(2){
				order:3;
			}
			&:nth-child(3){
				order:5;
			}
			&:nth-child(4){
				order:2;
			}
			&:nth-child(5){
				order:4;
			}

		}
	}
}
.filler{
	pointer-events:none;
	position: absolute;
	&-01{
		left:50%;
		transform:translateX(-50%);
		top:37px;
	}
	&-02{
		top:132px;
		right:27px;
	}
	&-03{
		left:98px;
		top:131px;
	}
	&-04{
		top:calc(100% - 18px);
		left:57px;
	}
	&-05{
		right:202px;
		    bottom: -126px;
	}
	&-08{
		left:50%;
		transform:translateX(-50%);
		top:78px;
	}
}
.popup{
	z-index: 10;

	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0, 108, 181, .9);
	@include transition(.3s);
	opacity: 0;
	visibility: hidden;
	&_active{
		opacity: 1;
		visibility: visible;
	}
	&-wrap{
		width:520px;
		position: absolute;
		top:50%;
		left:50%;
		transform:translateX(-50%)translateY(-50%);
	}
	&-title{
		font-family:'GraublauSlab-Heavy';
		text-align: center;
		font-size: 40px;
		line-height: 38px;
		margin-bottom: 33px;

	}
	&-form{

		background-color: #fff;
		padding:83px 65px 60px 65px;
		input{
			&:not([type="submit"]){
				font-size: 18px;
				font-family:'GraublauSansDisplay-Regular';
				text-align: center;
				height:40px;
				line-height: 40px;
				outline:none;
				border:none;
				box-shadow: none;
				border-bottom:2px solid #C5C5C5;
				width:100%;
				margin-bottom: 20px;
			}
			&[type="submit"]{

				display: block;
				font-family:'GraublauSansDisplay-Regular';
				color:#fff;
				box-shadow: 0px 10px 15px rgba(255, 208, 153, 0.2);
				margin:0 auto;
				margin-top: 39px;
				width:204px;
				height:60px;
				line-height: 60px;
				border:none;
				border-radius: 50px;
			}

		}
	}
	&-close{
		cursor: pointer;
		box-shadow: 0px 10px 15px rgba(255, 208, 153, 0.2);
		position: absolute;
		right: -50px;
    	top: -4px;
		width:50px;
		height:50px;
		border-radius: 100%;
		background-color: $orange;
		background-image: url(../images/icon-close.svg);
		background-repeat: no-repeat;
		background-position: center center;
	}
	&_rules{
		backdrop-filter: blur(10px);
		background-color:rgba(0, 0, 0, 0.9);
		.button{
			width:120px;
			margin:0 auto;
			height:60px;
			line-height: 60px;
		}
		.popup{
			&-wrap{
				width:410px;
			}
			&-title{
				margin-bottom: 42px;
				font-size: 30px;
				line-height: 31px;
			}
			&-text{
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 40px;
				p{
					margin-bottom: 20px;
				}
			}
		}
	}
}
.test{
	min-height: 100vh;
	display: block;
	&-wrap{
		background-image: url(../images/test-bg.svg);
		background-size: cover;
		min-height: 100vh;
	}
	&-filler{
		position: absolute;
		&-01{
			right: 69px;
    		top: -78px;
			width:77px;
		}
		&-02{
			    left: calc(44% - -4px);
    		top: -49px;
		    width: 210px;
		}
		&-03{
			left: calc(36% - 2px);
			bottom:74px;
		}
		&-04{
			width:110px;
			bottom: -29px;
    		left: 286px;
		}
		&-05{
			    right: 201px;
    			bottom: -48px;
		}
	}
	&-header{
		padding: 0 45px;
		padding-top: 37px;
		.header-logo{
			img{
				max-width:100%;
			}
			&_01{
				width:89.43px;
			}
			&_02{
				width:90.43px;
			}
		}
	}
	&-body{
		width:100%;
		height:477px;
		position: relative;
		padding:0 77px 0 30px;
		display: flex;
		justify-content:space-between;

		&-wrap{
			width:100%;
			display: flex;
			height:calc(100vh - 104px);
			min-height: 500px;
			align-items:center;
			padding-bottom: 60px;
		}
		&_register{
			.test-filler{
				z-index: 2;
			}
		}
	}
	&-info{
		width:329px;
		display: flex;
		flex-direction:column;
		justify-content:center;
		&-unit{
			font-family:'GraublauSlab-Heavy';
			font-size: 50px;
			line-height: 50px;
		}
		&-text{
			margin-top: 30px;
			margin-bottom: 36px;
			&_asterisk{
				margin-top: 48px;
				padding-left: 37px;
				font-size: 16px;
				line-height: 23px;
				position: relative;
				margin-bottom: 14px;
				&:before{
					content:url(../images/icon-asterisk.svg);
					position: absolute;
					top:2px;
					left:6px;
				}
			}
		}
		&-button{
			height:50px;
			line-height: 50px;
			width:175px;
			font-size: 16px;
			color:#fff;
		}
		&-checkbox{
			cursor: pointer;
			font-family:'GraublauSansDisplay-Regular';
			font-size: 16px;
			input{
				position: absolute;
			}
			a{
				text-decoration: underline;
			}
			input:checked + span{
				&:after{
					opacity: 1;
				}
			}
			span{
				padding-left: 36px;
				display: inline-block;
				position: relative;
				&:before{
					border-radius: 3px;
					content:"";
					position: absolute;
					top:0;
					left:0;
					width:26px;
					height:26px;
					background-color: #fff;
				}
				&:after{
					@include transition(.3s);
					opacity: 0;
					position: absolute;
					content:url(../images/icon-check.svg);
					top:0;
					left:7px;

				}
			}
		}

	}
	&-content{
		font-family:'GraublauSansDisplay-Regular';
		width:450px;
		@include transition(.3s);
		&_final{
			margin-top: 85px;
		}
		&-progress{
			margin-left: -2px;
			align-items:center;
			margin-top: -15px;
			font-family:'GraublauSansItalic';
			display: flex;
			&-title{

			}
			&-wrap{

				padding:0 6px;
				display: flex;
				align-items:center;
				height:40px;
				background-color: #fff;
				margin-left: 18px;
				border-radius: 50px;
			}
			&-unit{
				position: relative;
				width:28px;
				height:28px;
				margin-right: 3px;
				&:last-child{
					margin-right: 0;
				}

				&:before{
					@include transition(.3s);
					opacity: 0;
					position: absolute;
					content:"";
					background-image: url(../images/icon-correct.svg);
					background-position: center;
					background-repeat: no-repeat;
					width:100%;
					height:100%;
					top:0;
					left:0;
				}
				&:after{
					@include transition(.3s);
					opacity: 0;
					position: absolute;
					content:"";
					background-image: url(../images/icon-wrong.png);
					background-position: center;
					background-size: 24px;
					background-repeat: no-repeat;
					width:100%;
					height:100%;
					top:0;
					left:0;
				}
				&_correct{
					&:before{
						opacity: 1;
					}
				}
				&_wrong{
					&:after{
						opacity: 1;
					}
				}

			}
		}
		&-unit{
			display: block;
			&.slick-current{
				.test-content-unit-question{
					transform:scale(1);
					opacity: 1;
				}

			}
			&:not(:first-child){

				.test-content-unit-bottom-answers-unit{
					transform:translateX(50%);
					opacity: 0;
					&:nth-child(2){
						transition-delay:.1s;
					}
					&:nth-child(3){
						transition-delay:.2s;
					}
					&:nth-child(4){
						transition-delay:.3s;
					}
				}
				&.slick-current{
					.test-content-unit-bottom-answers-unit{
						transform:translateX(0%);
						opacity: 1;
					}
				}
			}
			&-question{
				opacity: 0;
				@include transition(.6s);
				transform:scale(0);
				height:290px;
				display: flex;
				align-items:center;
				&_size1{
					font-size: 42px;
					line-height: 49px;
				}
				&_size2{
					font-size: 34px;
					line-height: 40px;
				}
				&_size3{
					font-size: 28px;
					line-height: 33px;
				}
				&_size4{
					font-size: 24px;
					line-height: 28px;
				}
			}
			&-bottom{

				&-answers{
					display: flex;
					flex-wrap:wrap;
					justify-content:space-between;

					&-unit{
						cursor: pointer;
						width:224px;
						background-color: #fff;
						margin-bottom: 2px;

						text-align: center;
						line-height: 79px;
						height:79px;
						color:$blue;
						position: relative;

						@include transition(.5s);


					}
				}
				&-results{



					background-color: #fff;
					display: block;
					&.slick-current{
						.test-content-unit-bottom-results-button{
							transform:translateX(0%);
							opacity: 1;
						}
						.test-content-unit-bottom-results-text{
							transform:translateX(0%);
							opacity: 1;
						}
					}
					&-button{
						cursor: pointer;
						@include transition(.5s);
						font-size: 16px;
						padding:0 15px;

						height:78px;
						line-height: 78px;
						background-color: $orange;
						position: relative;
						transform:translateX(50%);
						opacity: 0;
						&:before{
							content:'';
							position: absolute;
							top:50%;
							transform:translateY(-50%);
							right:26px;
							width: 13px;
							height: 23px;
							background-image: url(../images/icon-next.svg);
						}
					}
					&-text{
						@include transition(.5s);
						transform:translateX(-50%);
						opacity: 0;
						height:84px;
						display: flex;
						align-items:center;
						padding:0 50px 0 11px;
						position: relative;
						color:#E8244C;
						font-size: 16px;
						&:before{
							@include transition(.3s);
							opacity: 0;
							content:"";
							position: absolute;
							top:50%;
							transform:translateY(-50%);
							right:18px;
							width:27px;
							height:26px;
							//background-size: cover;
							background-repeat: no-repeat;
							background-image: url(../images/smile-correct.svg);
						}
						&:after{
							@include transition(.3s);
							opacity: 1;
							content:"";
							position: absolute;
							top:50%;
							transform:translateY(-50%);
							right:18px;
							width:27px;
							height:26px;
							background-repeat: no-repeat;
							//background-size: cover;
							background-image: url(../images/smile-wrong.svg);
						}
						&_correct{
							color:#00CC39;
							&:before{
								opacity: 1;
							}
							&:after{
								opacity: 0;
							}
							.test-content-unit-bottom-results-text-inner_correct{
								display: block;
							}
							.test-content-unit-bottom-results-text-inner_wrong{
								display:none;
							}

						}
						&-inner{
							&_correct{
								display: none;
							}

						}

					}
				}
			}
			&_result{
				&-title{
					font-family:'GraublauSans-Regular';
					margin-top:18px;
					opacity: .9;
					padding-right: 30px;
					margin-bottom: 67px;
				}
				&-timer{
					padding-bottom: 20px;
					&-title{
						font-family:'GraublauSlab-Bold';
						font-size: 30px;
						line-height: 35px;
						margin-bottom: 10px;
					}
					&-unit{
						text-align: center;
						&-title{
							font-family:'GraublauSansDisplay-Bold';
							font-size: 14px;
							line-height: 23px;
							    margin-bottom: 10px;
						}
						&-number{
							font-family:'GraublauSlab-HeavyItalic';
							font-size: 120px;
							    line-height: 49px;
						}
						&_divider{
							margin:0 5px;
							font-family:'GraublauSansDisplay-Bold';
							font-size: 90px;
							line-height: 115px;
							opacity: 1;
							&_hide{
								opacity: 0;
							}
						}

					}
					&-wrap{
						display: flex;
					}
					&_hidden{
						opacity: 0;
						visibility: hidden;

					}
				}
			}
			&-button{
				height:48px;
				line-height: 48px;
				opacity: 0;
				visibility: hidden;
				&_shown{
					opacity: 1;
					visibility: visible;
				}
			}
		}

	}
	&-register{
		width:460px;
		margin-right: auto;
		margin-left: 214px;

		.popup-form{
			margin-top: 78px;
			position: relative;
			z-index: 0;
			padding-top: 44px;
			padding-bottom: 34px;
			input{
				&:not([type="submit"]){
					font-size: 16px;
					color:$blue;
					margin-bottom: 36px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				&[type="submit"]{
					left:50%;
					bottom:0;
					transform:translateX(-50%)translateY(50%);
					position:absolute;
				}

			}
			.input-wrap{
				position: relative;
				margin-bottom: 36px;
				&:last-child{
					margin-bottom: 0;
				}
				&_error{
					.input-wrap-error{
						opacity: 1;
						visibility: visible;
					}
				}
				&-error{
					white-space: nowrap;
					left:50%;
					transform:translateX(-50%);
					border-radius: 6px;
					@include transition(.3s);
					opacity: 0;
					visibility: hidden;
					bottom:100%;
					padding:10px 20px;
					color:#000;
					position: absolute;
					background: #FFFFFF;
					box-shadow: 0px 4px 14px rgba(4, 59, 255, 0.2);
					&:before{
						position: absolute;
						top:100%;
						left:50%;
						transform:translateX(-50%);
						content:"";
						border-top:12px solid #fff;
						border-left:12px solid transparent;
						border-right:12px solid transparent;
					}
				}
			}
			::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			    color:$blue;
			    opacity: 1; /* Firefox */
			}

			:-ms-input-placeholder { /* Internet Explorer 10-11 */
			    color:$blue;
			}

			::-ms-input-placeholder { /* Microsoft Edge */
			    color:$blue;
			}
		}
	}
	&-main{
		&-introUnit{
			min-height: 100vh;
			display: block;
			&_01{
				background:$tour1color;
				.test-main-introUnit-info{
					width:430px;
				}
			}
			&_02{
				background:$tour2color;
			}
			&_03{
				background:$tour3color;
			}
			&_04{
				background:$tour4color;
			}
			&_05{
				background:$tour5color;
			}
			&-container{
				display: flex;
				min-height: 100vh;
				align-items:center;
				position: relative;
				margin:0 auto;
				max-width: 1132px;
			}
			&-info{
				margin-left: 65px;
				width:390px;

			}
			&-navigation{
				margin-bottom: 40px;
				&-divider{
					display: inline-block;
					position: relative;
					width:118px;
					margin:0 15px 0 9px;
					&:before{
						content:"";
						position: absolute;
						top:-4px;

						left:0;
						width:100%;
						height:1px;
						background-color: #fff;
					}
				}
			}
			&-title{
				font-family:'GraublauSlab-Heavy';
				font-size: 50px;
				line-height: 51px;
				margin-bottom: 20px;
				@include transition(.3s);
				opacity: 	0;
				transform:translateX(50%);

			}
			&-text{
				@include transition(.3s);
				margin-bottom: 35px;
				min-height: 75px;
				opacity: 	0;
				transform:translateX(50%);
				transition-delay:.2s;

			}
			&-button{
				@include transition(.3s);
				height:48px;
				line-height: 48px;
				width:170px;
				opacity: 	0;
				transform:scale(0);
				transition-delay:.3s;
			}
			&-image{
				@include transition(.3s);
				opacity: 	0;
				transform:scale(0);

			}
		}
		&-unit{
			min-height: 100vh;
			display: block;
			&-header{
				height:124px;

				.header-logo{
					img{
						max-width:100%;
					}
					&_01{
						width:89.43px;
					}
					&_02{
						width:90.43px;
					}
				}
				&-logo{
					&-wrap{
						position: relative;
						width:300px;
						padding-left: 45px;
					}
				}
				&-wrap{
					display: flex;
					align-items:center;
					height:100%;

				}
				&-info{
					padding-left: 25px;
					padding-right: 45px;
					display: flex;
					align-items:center;
					width:calc(100% - 300px);
					&-image{
						width:124px;
						img{
							display: block;
							max-width: 100%;
						}
					}
					&-counter{
						height:40px;
						margin-left: auto;
						.test-content-progress{
							margin-top:0;
							&-wrap{
								margin-left: 33px;
							}
							&-unit{


							}
						}
					}
					&-title{
						margin-left: 15px;
					}
				}
			}
			&_current{
				.test-main-body-images-wrap{
					&:nth-child(1){
						.test-main-body-images-unit{
							opacity: 1;
							transform:scale(1);
						}


					}
				}
				.test-main-body{
					&-text{
						opacity: 1;
						transform:translateX(0);
					}
					&-footer{
						&-answers{
							&-unit{
								opacity: 1;
								transform:translateX(0);
							}
						}
					}
				}
			}
			&_noImage{
				.test-main-body{
					&-images{
						display: none;
					}
					&-text{
						margin-left: 180px;
					}
				}
			}
		}
		&-segment{

			display: block;
			&_01{
				.test-main-unit-header-info{
					background-color: $tour1color;
				}
			}
			&_02{
				.test-main-unit-header-info{
					background-color: $tour2color;
				}
			}
			&_03{
				.test-main-unit-header-info{
					background-color: $tour3color;
				}
			}
			&_04{
				.test-main-unit-header-info{
					background-color: $tour4color;
				}
			}
			&_05{
				.test-main-unit-header-info{
					background-color: $tour5color;
				}
			}
			&.slick-current{
				.test-main-introUnit{
					&-image{
						transform:none;
						opacity: 1;
					}
					&-text{
						transform:none;
						opacity: 1;
					}
					&-title{
						transform:none;
						opacity: 1;
					}
					&-button{
						transform:none;
						opacity: 1;
					}
				}
			}

		}
		&-sidebar{
			margin-top: -124px;

			width:300px;
			background-color: #0038FF;
		}
		&-container{
			display: flex;


		}
		&-body{

			width:calc(100% - 50px);
			margin-left:-250px;

			&-unit{
				padding-bottom: 54px;

				display: flex;
				flex-direction:column;
				align-items:center;
				height:calc(100vh - 124px);
				&-wrap{
					width:100%;
					display: flex;
					align-items:center;
					height:calc(100% - 110px);
				}
			}
			&-images{
				width:476px;
				min-width: 476px;
				height:100%;
				position: relative;
				flex-direction:column;
				flex-wrap:wrap;
				display: flex;
				justify-content:center;
				&_multislide{
					.test-main-body-images-controls{
						opacity: 1;
						visibility: visible;

					}
				}
				&-wrap{
					display: block;

					.slick-dots{
						padding-top: 20px;
						bottom:-20px;
						//left:50%;
						//transform:translateX(-50%);
						display: flex;
						justify-content:center;
						li{
							cursor: pointer;
							margin:0 5px;
							width:8px;
							height:8px;
							border-radius: 100%;
							background-color: #fefefe;
							button{
								display: none;
							}
							&.slick-active{
								background-color: $orange;
							}
							&:only-child{
								opacity: 0;
							}
						}
					}
					&_answer{
						.test-main-body-images-unit{
							opacity: 1;
							transform:scale(1);
						}
					}
					img.filler{
						max-width: 100%;
					}
				}
				&-body{

					width:100%;

				}
				&-controls{

					visibility: 	hidden;
					opacity: 	0;
					display: 	flex;
					justify-content:center;
					width:100%;
					position: absolute;
					bottom:0;
					margin-top: auto;

					&-unit{
						cursor: pointer;
						background-image: url(../images/icon-arrow.svg);
						background-position: center center;
						background-repeat: no-repeat;
						width:110px;
						margin-right: 1px;
						&:last-child{
							margin-right: 0;
						}
						height:64px;
						background-color: $orange;
						&_prev{
							transform:rotate(180deg);
						}
					}
				}
				&-unit{
					@include transition(.3s);
					opacity: 0;
					transform:scale(0);
					position: relative;
					display: flex;
					align-items:center;
					justify-content:center;
					border-radius: 100%;
					background-color: #fff;
					height:476px;
					.filler{
						position: static;
						max-height:100%;
    					max-width:100%;
						width:100%;
					}
					img{
						max-height: calc(100% - 20px);
						max-width: calc(100% - 20px);
					}
				}
			}
			&-text{
				@include transition(.3s);
				opacity: 0;
				transform:translateX(50%);
				max-width: 1000px;
				font-size: 50px;
				line-height: 60px;
				margin-left: 60px;
				padding-right: 20px;
			}
			&-footer{

				margin-right: auto;
				margin-left: 250px;
				height:110px;
				width:980px;
				&-answers{

					display: flex;

					&-unit{
						cursor: pointer;
						height:110px;
						color:$blue;
						display: flex;
						align-items:center;
						padding:0 44px 0 20px;

						flex:1;
						margin-right: 1px;
						background-color: #fff;
						@include transition(.3s);
						opacity: 0;
						transform:translateX(20%);
						&:last-child{
							margin-right: 0;
						}
						&:nth-child(1){
							transition-delay:.1s;
						}
						&:nth-child(2){
							transition-delay:.2s;
						}
						&:nth-child(3){
							transition-delay:.3s;
						}
						&:nth-child(4){
							transition-delay:.4s;
						}
					}
				}
				&-results{
					height:110px;
					background-color: #fff;
					display: flex;
					&-info{
						padding:15px 20px 10px 20px;
						width:calc(100% - 245px);
						&-title{
							color:$blue;

						}
						&-text{
							width:100%;
							@include transition(.3s);
							opacity:0;
							transform:translateX(-30%);
							line-height: 22px;
							letter-spacing: -.4px;
							&-inner{
								position: relative;
								padding-left: 36px;
								&:before{
									@include transition(.3s);
									opacity: 1;
									content: "";
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									left: 0px;
									width: 27px;
									height: 26px;
									background-repeat: no-repeat;

								}
								&_correct{
									color:$green;
									display: none;
									&:before{
										background-image: url(../images/smile-correct.svg);
									}
								}
								&_wrong{
									color:$red;
									&:before{
										background-image: url(../images/smile-wrong.svg);
									}
								}
							}
						}
					}
					&-button{
						@include transition(.3s);
						opacity:0;
						transform:translateX(30%);
						cursor: pointer;
						width:245px;
						background-color: $orange;
						color:#fff;
						text-align: center;
						display: flex;
						align-items:center;
						justify-content:center;
						span{
							padding-right: 30px;
							position:relative;
							&:before{
								position: absolute;
								content:"";
								width:10px;
								height:16px;
								right:5px;
								top:50%;
								transform:translateY(-50%);
								background-repeat:no-repeat;
								background-position: center;
								background-image: url(../images/icon-next.svg);
							}
						}
					}
					&_correct{
						.test-main-body-footer-results-info-text-inner{
							&_correct{
								display: block;
							}
							&_wrong{
								display: none;
							}
						}
					}
					&_current{
						.test-main-body-footer-results-info-text{
							opacity: 1;
							transform:translateX(0);

						}
						.test-main-body-footer-results-button{
							opacity: 1;
							transform:translateX(0);
						}
					}
				}
			}


		}
	}
	&-rating{
		padding-bottom: 150px;
		background-image: url(../images/rating-bg.svg);
		background-size: cover;
		display: block;
		&-container{
			position: relative;
			width:1280px;
			margin:0 auto;
			table{
				font-family:'GraublauSansDisplay-Regular';
				font-size: 25px;

				td{
					padding-top:4px;
					padding-bottom: 4px;
					height:39px;
					&:nth-child(1){
						width:350px;
						padding-left: 15px;
					}
					&:nth-child(2){
						width:138px;
					}
					&:nth-child(n+3):nth-child(-n+7){
						width:59px;
					}
					&:nth-child(8){
						width:101px;
					}
					&:nth-child(9){
						width:70px;
						img{
							margin-top:5px;
						}
					}
					&:nth-child(n+3){
						text-align: center;
					}

				}
			}
		}
		&-header{
			padding-top: 17px;
			margin:0 auto;
			width:398px;
			margin-bottom: -14px;
			img{
				max-width: 100%;
			}
		}
		&-wrap{
			width:980px;
			margin:0 auto;
		}
		&-table{
			&-wrap{
				padding:9px 24px 34px 24px;
				background-color: #fff;
				color:$blue;
				margin-bottom: 8px;
			}
			&-header{

				padding:0 24px;
				margin-bottom: 9px;
				table{
					font-family:'GraublauSans-Regular';
					font-size: 20px;
					line-height: 24px;
					td{
						vertical-align: top;
						&:nth-child(2){
							position: relative;
							&:after{
								content:"";
								position: absolute;
								top: 13px;
    							right: 6px;
								width:70px;
								height:1px;
								background-color: #fff;
							}
						}
						&:nth-child(n+3):nth-child(-n+6){
							position: relative;
							&:after{
								content:"+";
								position: absolute;
								top: 1px;
    							right: -4px;


							}
						}
						&:nth-child(7){
							position: relative;
							&:after{
								content:"=";
								position: absolute;
								top: 1px;
    							right: -4px;


							}
						}
						&:nth-child(8),&:nth-child(1),&:nth-child(2){
							padding-top: 3px;
						}
					}
				}

			}
			&-player{
				margin-bottom: 18px;
				padding:0 24px;
				background-color: #fff;
				color:$blue;
				table{
					td{

    					vertical-align: middle;
						height:72px;
					}
				}
			}
			&-unit{
				display: block;
				table{
					td{
						vertical-align: middle;
						&:nth-child(8){
							border-left: 12px solid #fff;
							border-right: 12px solid #fff;
						}
					}
					tr{
						&:nth-child(2n){
							border-top:1px solid rgba(0, 56, 255, .4);
							border-bottom:1px solid rgba(0, 56, 255, .4);
							background:rgba(0, 56, 255, .1);
						}
					}
				}
			}
			&-numeration{
				padding-right: 24px;
				    margin-bottom: 20px;
				display: flex;
				justify-content:flex-end;

				&-unit{
					@include transition(.3s);
					cursor: pointer;
					border-bottom:1px solid rgba(254, 254, 254, .6);
					width:30px;
					text-align: center;
					height:40px;
					line-height: 40px;
					&_active{
						border-bottom:1px solid rgba(254, 254, 254, 1);
					}
					&:hover{
						border-bottom:1px solid rgba(254, 254, 254, 1);
					}
				}
			}
		}
		&-best{
			margin-top: 47px;
			display: flex;
			flex-wrap:wrap;
			&-unit{
				width:calc(50% - 10px);
				margin-bottom: 20px;
				margin-right: 20px;
				&:nth-child(2n){
					margin-right: 0;
				}
				&_01{
					.test-rating-best-unit-header{
						background-color: $tour1color;
					}
				}
				&_02{
					.test-rating-best-unit-header{
						background-color: $tour2color;
					}
				}
				&_03{
					.test-rating-best-unit-header{
						background-color: $tour3color;
					}
				}
				&_04{
					.test-rating-best-unit-header{
						background-color: $tour4color;
					}
				}
				&_05{
					.test-rating-best-unit-header{
						background-color: $tour5color;
					}
				}
				&-header{
					padding:20px 0 31px 0;
					&-image{
						width:124px;
						margin:0 auto;
						margin-bottom: 12px;
						img{
							max-width: 100%;
						}
					}
					&-title{
						text-align: center;
						font-size: 30px;
						line-height: 31px;
						font-family: "GraublauSlab-Heavy";
					}
				}
				&-body{
					background-color: #fff;
					color:$blue;
					padding: 18px 53px 36px 37px;
					&-unit{
						font-family:'GraublauSansDisplay-Regular';
						font-size: 25px;
						display: flex;
						justify-content:space-between;
						margin-bottom: 14px;
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
		&-title{
			padding-left: 24px;
			font-family:'GraublauSlab-Heavy';
			font-size: 30px;
			line-height: 31px;
			margin-bottom: 48px;
		}
		&-logo{
			&-wrap{
				position: absolute;
			    top: 34px;
			    left: 45px;
				.header-logo{
					img{
						max-width:100%;
					}
					&_01{
						width:89.43px;
					}
					&_02{
						width:90.43px;
					}
				}
			}
		}
	}

}

.game-with-adress {
    line-height: 15px;
    font-size: 16px;
}
