include ./includes/components.jade

doctype html
html
	+head ('Интеллектуальная олимпиада - «Мозгва» для Baker Hughes')

	body
		<!-- Google Tag Manager (noscript) -->
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-N3R5QZ" height="0" width="0" style="display:none;visibility:hidden")
		<!-- End Google Tag Manager (noscript) -->
		+header

		.main
			.container
				.main-title
					img(src="images/title-new.svg" alt="").main-title-img
					img(src="images/filler-01.png" alt="").filler.filler-01
					img(src="images/filler-02.png" alt="").filler.filler-02
					img(src="images/filler-03.png" alt="").filler.filler-03
					img(src="images/filler-04.png" alt="").filler.filler-04
					img(src="images/filler-05.png" alt="").filler.filler-05
					img(src="images/filler-08.svg" alt="").filler.filler-08

				.main-select.select-wrap
					select(name="select city")
						option
						option Тюмень
						option Москва
						option Нижневартовск
						option Нефтеюганск
						option Ноябрьск
						option Сахалин
				.main-games
					.main-games-month Октябрь
					.main-games-wrap
						.main-games-unit.main-games-unit_disabled(data-city="Тюмень")
							.main-games-unit-date 17
							.main-games-unit-info
								.main-games-unit-info-unit.main-games-unit-info-unit_place Тюмень
								.main-games-unit-info-unit.main-games-unit-info-unit_time 18:00
							.main-games-unit-button.button.button_orange.register Участвовать
						.main-games-unit.main-games-unit_disabled(data-city="Москва")
							.main-games-unit-date 17
							.main-games-unit-info
								.main-games-unit-info-unit.main-games-unit-info-unit_place Москва
								.main-games-unit-info-unit.main-games-unit-info-unit_time 18:00
							.main-games-unit-button.button.button_orange.register Участвовать
						.main-games-unit.main-games-unit_disabled(data-city="Нижневартовск")
							.main-games-unit-date 25
							.main-games-unit-info
								.main-games-unit-info-unit.main-games-unit-info-unit_place.game-with-adress Нижневартовск «Трактиръ на Северной» улица Северная, 9 п / 2
								.main-games-unit-info-unit.main-games-unit-info-unit_time 18:00
							.main-games-unit-button.button.button_orange.register Участвовать
					.main-games-month Ноябрь
					.main-games-wrap
						.main-games-unit.main-games-unit_disabled(data-city="Нефтеюганск")
							.main-games-unit-date 1
							.main-games-unit-info
								.main-games-unit-info-unit.main-games-unit-info-unit_place.game-with-adress Нефтеюганск, Сургутская ул., 1/23, помещение РК «Империя»
								.main-games-unit-info-unit.main-games-unit-info-unit_time 18:00
							.main-games-unit-button.button.button_orange.register Участвовать
						.main-games-unit.main-games-unit_disabled(data-city="Ноябрьск")
							.main-games-unit-date 8
							.main-games-unit-info
								.main-games-unit-info-unit.main-games-unit-info-unit_place.game-with-adress Ноябрьск, ул.Холмогорская, 17, помещение ресторана «Мечта»
								.main-games-unit-info-unit.main-games-unit-info-unit_time 18:00
							.main-games-unit-button.button.button_orange.register Участвовать
						.main-games-unit.main-games-unit_disabled(data-city="Сахалин")
							.main-games-unit-date 8
							.main-games-unit-info
								.main-games-unit-info-unit.main-games-unit-info-unit_place.game-with-adress Сахалин, Железнодорожная ул., 166Б, помещение ресторана Fingerbar
								.main-games-unit-info-unit.main-games-unit-info-unit_time 18:00
							.main-games-unit-button.button.button_orange.register Участвовать

				.main-info
						.main-info-unit
							.main-info-unit-title Как подготовиться?
							.main-info-unit-text Никак, вы уже готовы :) из того что надо взять с собой, это хорошее настроение. Всем остальным мы обеспечим вас на игре.
						.main-info-unit
							.main-info-unit-title Где это будет происходить?
							.main-info-unit-text В Вашем городе или ближайшем к вам городе. Игра проходит в ресторане, регистрируйтесь и просто приходите в назначенное место и время. А еще мы позвоним вам за день до игры подтвердить ваше участие.
						.main-info-unit
							.main-info-unit-title Что такое «Мозгва»?
							.main-info-unit-text Это игра, в которой мы задаем вам вопросы на логику, эрудицию и интуицию, а вы на них отвечаете
						.main-info-unit
							.main-info-unit-title Какие правила?
							.main-info-unit-text Все правила мы расскажем прямо перед игрой. Все очень просто, мы задаем вопросы, вы пишете ответ на бланке.
		.popup.popup_form
			.popup-wrap
				.popup-title Регистрация на игру
				.popup-close
				.popup-form.popup-form_offline
					input(type="hidden" id="gameDate" name="gameDate" value="")
					input(type="hidden" id="gameCity" name="gameCity" value="")
					input(type="hidden" name="gamePlace" id="gamePlace" value="")
					input(type="hidden" name="gameTag" id="gameTag" value="BakerHughes")
					input(type="text" name="contactName" id="contactName" placeholder="Ваше имя" required)
					input#inputMaskPhone(type="phone" name="contactPhone"  placeholder="Телефон" required)
					input(type="email" name="contactEmail" id="contactEmail" placeholder="Электронная почта" required)
					input(type="submit" value="Дальше").button.button_orange.popup-form-submit
		.popup.popup_finish
			.popup-wrap
				.popup-title Спасибо за регистрацию!
