include ./includes/components.jade

doctype html
html
	+head ('Онлайн игра! «Мозгва» для Backer Hughes')

	body
		<!-- Google Tag Manager (noscript) -->
		noscript
			iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-N3R5QZ" height="0" width="0" style="display:none;visibility:hidden")
		<!-- End Google Tag Manager (noscript) -->
		.test-wrap
			.test
				.container
					.test-header
						.header-logo-wrap
							a(href="../").header-logo.header-logo_01
								img(src="images/bh-logo.svg" alt="")
							a(href="https://mozgva.com").header-logo.header-logo_02
								img(src="images/mzgv-logo.svg" alt="")
					.test-body-wrap
						.test-body
							img(src="images/filler-01.png" alt="").test-filler.test-filler-01
							img(src="images/filler-03.png").test-filler.test-filler-02
							img(src="images/filler-07.png").test-filler.test-filler-03
							img(src="images/filler-05.png").test-filler.test-filler-04
							img(src="images/filler-06.png").test-filler.test-filler-05
							.test-info
								.test-info-unit.test-info-unit_date 22 Октября
								.test-info-unit.test-info-unit_time 20:00
								.test-info-text Игра произойдет здесь, по московскому времени. Отправьте нам свои контактные данные, и мы вам напомним о начале игры.
								.test-info-button.button.register.button_orange Зарегистрироваться
							.test-content
								.test-content-progress
									.test-content-progress-title Вопрос <span class="current">1</span>/6
									.test-content-progress-wrap
										.test-content-progress-unit
										.test-content-progress-unit
										.test-content-progress-unit
										.test-content-progress-unit
										.test-content-progress-unit
										.test-content-progress-unit
								.test-content-unit
									.test-content-unit-question.test-content-unit-question_size1 Название какой страны возникло из слухов о горах серебра на её территории?
									.test-content-unit-bottom
										.test-content-unit-bottom-answers
											.test-content-unit-bottom-answers-unit Бельгия
											.test-content-unit-bottom-answers-unit Гаити
											.test-content-unit-bottom-answers-unit.test-content-unit-bottom-answers-unit_correct Аргентина
											.test-content-unit-bottom-answers-unit Республика Кипр
										.test-content-unit-bottom-results
											.test-content-unit-bottom-results-button Следующий вопрос!
											.test-content-unit-bottom-results-text
												.test-content-unit-bottom-results-text-inner_correct Еще какая! Потому что серебро — это Argentum, а это уже Аргентина.
												.test-content-unit-bottom-results-text-inner_wrong Ну нет же, это Аргентина, потому что Argentum - это серебро.
								.test-content-unit
									.test-content-unit-question.test-content-unit-question_size2 Название какого музыкального жанра, по одной из версий, появилось благодаря английскому эквиваленту выражения «тоска зеленая»?
									.test-content-unit-bottom
										.test-content-unit-bottom-answers
											.test-content-unit-bottom-answers-unit Опера
											.test-content-unit-bottom-answers-unit Рэп
											.test-content-unit-bottom-answers-unit.test-content-unit-bottom-answers-unit_correct Блюз
											.test-content-unit-bottom-answers-unit Вальс
										.test-content-unit-bottom-results
											.test-content-unit-bottom-results-button Следующий вопрос!
											.test-content-unit-bottom-results-text
												.test-content-unit-bottom-results-text-inner_correct О, да. Это тоскливый и лирический блюз, как раз для осени!
												.test-content-unit-bottom-results-text-inner_wrong Да нет, если “тоска зеленая”, то это сразу блюз. Хотя для некоторых это может быть опера , но это блюз.
								.test-content-unit
									.test-content-unit-question.test-content-unit-question_size3 На последней странице Книги Рекордов Гиннеса мелким шрифтом указано, что все мировые рекорды принадлежат этому человеку, а в книге просто перечислены те люди, которым удалось максимально к ним приблизиться. О каком актере шутка?
									.test-content-unit-bottom
										.test-content-unit-bottom-answers
											.test-content-unit-bottom-answers-unit Арнольд Шварценеггер
											.test-content-unit-bottom-answers-unit Саша Барон Коэн
											.test-content-unit-bottom-answers-unit.test-content-unit-bottom-answers-unit_correct Чак Норрис
											.test-content-unit-bottom-answers-unit Стив Бушеми
										.test-content-unit-bottom-results
											.test-content-unit-bottom-results-button Следующий вопрос!
											.test-content-unit-bottom-results-text
												.test-content-unit-bottom-results-text-inner_correct Конечно что же это Чак наш дорогой Норрис, все поклоны книге только ему.
												.test-content-unit-bottom-results-text-inner_wrong Зря вы не ответили Чак Норрис, потому что это правильный ответ. Теперь каждый сам за себя!
								.test-content-unit
									.test-content-unit-question.test-content-unit-question_size1 Как на сленге шахтеров называют бурильный станок БП-100?
									.test-content-unit-bottom
										.test-content-unit-bottom-answers
											.test-content-unit-bottom-answers-unit Столичная
											.test-content-unit-bottom-answers-unit Борис Петрович
											.test-content-unit-bottom-answers-unit Боеприпас
											.test-content-unit-bottom-answers-unit.test-content-unit-bottom-answers-unit_correct Баптист
										.test-content-unit-bottom-results
											.test-content-unit-bottom-results-button Следующий вопрос!
											.test-content-unit-bottom-results-text
												.test-content-unit-bottom-results-text-inner_correct Баптист это,  конечно. Хотя другие варианты тоже веселые
												.test-content-unit-bottom-results-text-inner_wrong А вы точно из нефтепромышленности? Потому что это не Столичная или Борис Петрович, а Баптист. Так -то!
								.test-content-unit
									.test-content-unit-question.test-content-unit-question_size4 «Мы восстановили порядок в мире и спасли Олимпийские игры в Сочи». Пост с таким заголовком в 2013 году опубликовала в Facebook известная компания,  поместив на обложку своей группы фото «спасения игр». Санкций за использование олимпийских символов со стороны оргкомитета не последовало. Какой бренд «спас» игры?
									.test-content-unit-bottom
										.test-content-unit-bottom-answers
											.test-content-unit-bottom-answers-unit «Coca-Cola»
											.test-content-unit-bottom-answers-unit «РЖД»
											.test-content-unit-bottom-answers-unit.test-content-unit-bottom-answers-unit_correct «Zippo»
											.test-content-unit-bottom-answers-unit «Касперский»
										.test-content-unit-bottom-results
											.test-content-unit-bottom-results-button Следующий вопрос!
											.test-content-unit-bottom-results-text
												.test-content-unit-bottom-results-text-inner_correct Верно, это «Zippo» с их зажигалками и с нашим факелом. В самом деле спасли!
												.test-content-unit-bottom-results-text-inner_wrong Это все весело, но нет. Факел потух, а «Zippo» его зажгли.
								.test-content-unit.test-content-unit_final
									.test-content-unit-question.test-content-unit-question_size1 Что Юрий Лоза не возьмет с собой прежде, чем тихо уплыть на маленьком плоту?
									.test-content-unit-bottom
										.test-content-unit-bottom-answers
											.test-content-unit-bottom-answers-unit.test-content-unit-bottom-answers-unit_correct Слезы
											.test-content-unit-bottom-answers-unit Мечта
											.test-content-unit-bottom-answers-unit Грезы
											.test-content-unit-bottom-answers-unit Сны
										.test-content-unit-bottom-results
											.test-content-unit-bottom-results-button Следующий вопрос!
											.test-content-unit-bottom-results-text
												.test-content-unit-bottom-results-text-inner_correct Признавайтесь, вы - Лозафан, потому что это правильный ответ и кому нужны слезы на маленьком плоту!
												.test-content-unit-bottom-results-text-inner_wrong Так себе вы знаете хит тысячелетия, но теперь эта песня будет с вами весь день. Поздравляем! А правильный ответ - слезы.
								.test-content-unit.test-content-unit_result
									.test-content-unit_result-title Вы — молодец! У вас все шансы занять неплохое место на зачетной игре. Мы Вам напомним о ней.
									.test-content-unit-button.button.button_orange Начать игру
									.test-content-unit_result-timer
										.test-content-unit_result-timer-title Старт зачетной игры через:
										.test-content-unit_result-timer-wrap
											.test-content-unit_result-timer-unit.test-content-unit_result-timer-unit_days
												.test-content-unit_result-timer-unit-title Д
												.test-content-unit_result-timer-unit-number 17
											.test-content-unit_result-timer-unit_divider :
											.test-content-unit_result-timer-unit.test-content-unit_result-timer-unit_hours
												.test-content-unit_result-timer-unit-title Ч
												.test-content-unit_result-timer-unit-number 03
											.test-content-unit_result-timer-unit_divider :
											.test-content-unit_result-timer-unit.test-content-unit_result-timer-unit_minutes
												.test-content-unit_result-timer-unit-title М
												.test-content-unit_result-timer-unit-number 45
			.test
				.container
					.test-header
						.header-logo-wrap
							a(href="../").header-logo.header-logo_01
								img(src="images/bh-logo.svg" alt="")
							a(href="https://mozgva.com").header-logo.header-logo_02
								img(src="images/mzgv-logo.svg" alt="")
					.test-body-wrap
						.test-body.test-body_register
							img(src="images/filler-01.png" alt="").test-filler.test-filler-01
							img(src="images/filler-03.png").test-filler.test-filler-02
							img(src="images/filler-07.png").test-filler.test-filler-03
							img(src="images/filler-05.png").test-filler.test-filler-04
							img(src="images/filler-06.png").test-filler.test-filler-05
							.test-info
								.test-info-unit.test-info-unit_date Регистрация
								.test-info-unit.test-info-unit_time на игру
								.test-info-text.test-info-text_asterisk Псевдоним будет отображаться в итоговом рейтинге. Настоящее имя и телефон останутся для ваших коллег в секрете
								label.test-info-checkbox
									input(type="checkbox" checked id="rulesAgreement" name="rulesAgreement") 
									span С <a href="#/" id="showRules">правилами игры</a> ознакомлен(а)
							.test-register
								.popup-form.popup-form_online
									//input(type="hidden" name="onlineGam,e" id="onlineGame" value="Онлайн игра")
									//input(type="hidden" name="gameTag" id="gameTag" value="BakerHughes")
									.input-wrap
										input(type="text" name="contactName" id="contactName2" placeholder="Имя" required)
									.input-wrap
										input.inputMaskPhone2#inputMaskPhone(type="phone" name="contactPhone2"  placeholder="Телефон" required)
									.input-wrap.input-wrap_nickname
										input(type="text" name="contactNickname" id="contactNickname" placeholder="Псевдоним, чтобы вас никто не узнал*" required)
										.input-wrap-error Этот псевдоним уже занят
									input(type="submit" value="Зарегистрироваться").button.button_orange
			.test-main-introUnit.test-main-introUnit_01
				.test-main-introUnit-container
					.test-main-introUnit-image
						img(src="images/tour-main-image-01.png" alt="")
					.test-main-introUnit-info
						.test-main-introUnit-navigation
							span Сейчас
							span.test-main-introUnit-navigation-divider
							span Тур №1
						.test-main-introUnit-title «Факты»
						.test-main-introUnit-text В этом туре будут вопросы обо всем. Не обязательно держать руку на старой энциклопедии. Не лишним было бы еще и на справочнике орнитолога подержать.
						.test-main-introUnit-button.button.button_orange Начать


		.popup.popup_form
			.popup-wrap
				.popup-title Регистрация на игру
				.popup-close
				.popup-form
					input(type="hidden" name="onlineGame" id="onlineGame" value="Онлайн игра")
					input(type="hidden" name="gameTag" id="gameTag" value="BakerHughes")
					input(type="text" name="contactName" id="contactName" placeholder="Ваше имя" required)
					input#inputMaskPhone(type="phone" name="contactPhone"  placeholder="Телефон" required)
					input(type="email" name="contactEmail" id="contactEmail" placeholder="Электронная почта" required)
					input(type="submit" value="Дальше").button.button_orange.popup-form-submit
		.popup.popup_finish
			.popup-wrap
				.popup-title Спасибо за регистрацию!
		.popup.popup_rules
			.popup-wrap
				.popup-title Правила игры
				.popup-text
					p "текст правил про то что даже если набереш одинаковое кол-во баллов, не факто что будет выше конкурента. по хитрой и не понятной формуле,Ю почти лотырееей будем определять кто победит текст правил про то что даже если набереш одинаковое кол-во баллов, не факто что будет выше 
					p конкурента. по хитрой и не понятной формуле,Ю почти лотырееей будем определять кто победит текст правил про то что даже если набереш одинаковое кол-во баллов, не факто что будет выше конкурента. по хитрой и не понятной формуле,Ю почти лотырееей будем определять кто победит"
				.button.button_orange Ясно
